body{
    background-color: rgb(143, 231, 84);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#mainheading{
    text-align: center;
    text-transform: capitalize;
    color: rgb(22, 36, 9);
}
.table{
    margin: 30px 0 0 20px;
    background-color: rgb(245, 255, 111);
    border: 2px solid black;

}
.table thead tr th{
    padding: 20px;
    border: 1px solid rgb(73, 0, 0);

}
.table tr td{
    border: 2px solid rgb(28, 29, 26);
}
.table tr td .editbutton{
    background-color: rgb(177, 177, 187);
    padding: 10px 10px;
}
.table tr td .delbutton{
    background-color: rgb(204, 100, 100);
    padding: 10px 10px;
}
form .submitbutton{
    padding: 15px;
    background-color: orange;
    font-size: large;
    margin-top: -15px;
}
.form{
    display: flex;
    padding: 30px 0px 45px 0px;
    background-color: rgb(175, 233, 60);


}
/* form #id{
    position: absolute;
    top: 30px;

} */
form .inputs{
    padding-right: 30px;
}
form label{
    font-size: large;
    
}
.message{
    position: absolute;
    top: 160px;
    right: 50%;
    color: darkmagenta;
    font-size: larger;
}
.footer{
    float: right;
    color: rgb(68, 23, 6);
    font-size: larger;
}
.paragraph p{
    display: flex;
    color: darkcyan;
    position: absolute;
    top: 200px;
    left: 526px;
    line-height: 50px;
}